@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: white;
    gap: 0.3rem;
    width: 20%;
    height: 600px;
    max-width: 1200px;
    padding: 10px 10px;
    margin: 10px auto;
    border: 1px solid black;
}
.item>img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.ques{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:10px;
    grid-column-start: 1;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    grid-column-end: 5;
    height:100px;
    background-color:#127cae;
    margin: 0px 0px;
    color:white;
}
.click{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-column-end: 5;
}
.click>#button{
    margin: 0px 5px;
    width: 80px;
    height: 40px;
    background-color:#127cae;
    border: none;
    border-radius: 5px;
    font-family: 'Teko', sans-serif;
    font-size:1.2rem;
    color: white;
    font-weight: bolder;
}

input[type="checkbox"][id^="check"] {
    display: none;
  }
  
  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 2;
  }
  label{
    width: 100%;
    height: 100%;
  }
  label img {
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  :checked + label:before {
    content: "✓";
    background-color: #127cae;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.85);
    z-index: -1;
  }
  @media screen and (max-width: 700px){
      #gallery{
        width: 99%;
      }
  } 